# =============================================================================,
# terraform.tfvars.example — Modèle à copier en terraform.tfvars,
# =============================================================================,

# ---- Connexion Proxmox ----
proxmox_endpoint     = "https://82.64.141.52:3006/"
proxmox_api_token    = "root@pam!tp-filrouge=54eb950b-2c51-4491-98a5-9a9823bb8f6c"
proxmox_host         = "82.64.141.52"
proxmox_ssh_port     = 3007
proxmox_ssh_user     = "root"
proxmox_ssh_password = "AYC2026!"
proxmox_insecure     = true

# ---- Infra ----
target_node     = "pve"
template_id     = 9000
storage_pool    = "local-lvm"
snippet_storage = "local"
network_bridge  = "vmbr0"

# À remplir quand le prof t'aura répondu sur le réseau
gateway = "CHANGEME"
db_ip   = "CHANGEME/24"
app_ip  = "CHANGEME/24"  
